body {
  background-image: url("https://ec2-13-250-12-231.ap-southeast-1.compute.amazonaws.com/images/backgroup-2-restaurant.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scroll To Bottom */
#top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ec2652;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.5s ease;
  color: #ffffff;
  text-align: center;
}
#top i {
  line-height: 52px;
}
#top:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#top {
  bottom: 96px;
  right: 36px;
  background: #ec2652;
  width: 52px;
  height: 52px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}

.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.content {
  text-align: center;
  padding: 10px 20px;
}

.title-card {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ec2652;
  margin-top: 8px;
  margin-bottom: 5px;
  color:#ec2652;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.title-card-2 {
  position: relative;
  z-index: 1;
  border-right: 5px #ec2652;
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.button-container a {
  color: #222;
  text-align: center;
  text-decoration: none;
  padding-top: 2px;
  padding-right: 4px;
  padding-left: 4px;
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-table;
  font-size: 16px;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.button-container a {
  z-index: 1;
  color: #555;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.button-container a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ec2652;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.button-container a:hover, .button-container a:active, .button-container a:focus {
  text-decoration: none;
  color: #ec2652;
  border-color: #ec2652;
}
.button-container a:hover, .button-container a:active, .button-container a:focus {
  color: #ec2652;
}

input[name=search] {
  cursor: pointer;
  margin-right: 5px;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-size: 15px;
  background-image: url('https://ec2-13-250-12-231.ap-southeast-1.compute.amazonaws.com/images/search.png');
  background-position: right 6px bottom 50%; 
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[name=search]:focus {
  cursor: unset;
  padding-left: 10px;
  padding-right: 25px;
  width: 300px;
}

.delete {
  cursor: pointer;
  position: absolute;
  top: 3%;
  left: 87%;
  background: #ec2652;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.5s ease;
  color: #ffffff;
  text-align: center;
}

.delete {
  bottom: 96px;
  right: 36px;
  background: #ec2652;
  width: 30px;
  height: 30px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}

.delete i {
  line-height: 30px;
}
.delete:hover {
  background: #fff;
  color: #ec2652;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}