body {
  background-image: url("https://ec2-13-250-12-231.ap-southeast-1.compute.amazonaws.com/images/backgroup-2-restaurant.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scroll To Bottom */
#top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ec2652;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.5s ease;
  color: #ffffff;
  text-align: center;
}
#top i {
  line-height: 52px;
}
#top:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#top {
  bottom: 96px;
  right: 36px;
  background: #ec2652;
  width: 52px;
  height: 52px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}

.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.content {
  text-align: center;
  padding: 10px 20px;
}

.title-card {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ec2652;
  margin-bottom: 5px;
  color:#ec2652;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.button-container a {
  color: #222;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  padding-right: 4px;
  padding-left: 4px;
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  height: 30px;
  border: 2px solid #e3e3e3;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.button-container a span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.button-container a:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ec2652;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.button-container a:hover, .button-container a:active, .button-container a:focus {
  text-decoration: none;
  color: #ec2652;
  border-color: #ec2652;
}
.button-container a:hover span, .button-container a:active span, .button-container a:focus span {
  color: #ec2652;
}
.button-container a:active span, .button-container a:focus span {
  color: #ffffff;
}
.button-container a:active:before, .button-container a:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://cdn.pixabay.com/photo/2015/12/08/17/38/magnifying-glass-1083373_960_720.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 500px;
}